node_modules
# Keep environment variables out of version control
.env

.vscode

.DS_Store

# Terraform initialised directories
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl